#contact {
    background: #364958;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact h1 {
    margin-top: 5%;
    color: #f2f2f2;
    font-size: 2.5em;
}

#contact .border{
  
    border-bottom: 5px solid #f2f2f2;
}

.contact-icons {
    height: 150px;
    background: #26343f;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container a {
    color: #f2f2f2;
    height:50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #364958;
    margin: 10px;
    transition: 0.2s ease-out;
}

.icon-container a:hover {
    background: #48E5C2;
    color: #364958;
    transform: scale(1.2);
    transition:  0.2s ease-out;
}


#n3 {
    border-left: 49.3vw solid transparent;
    border-right: 49.3vw  solid transparent;
    border-top: 100px solid white;
}


#send-message {
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#send-message input {
    height: 30px;
}

#send-message input, #send-message textarea {
    width: 350px;
    background: #26343f;
    border: none;
    margin: 5px 0;
    color: #f2f2f2;
}

#send-message input:focus, #send-message textarea:focus {
    outline:none
}

#contact p {
    background: #26343f;
    color: #587991;
    width: 100%;
    font-size: 0.7em;
    
    
}

#contact p span {
    color: #95C623;
}

form button {
    font-family: 'Exo 2', sans-serif;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
    background: none;
    margin-top: 10px;
    height:  35px;
    width: 100px;
    font-weight: 500;
    transition: 0.4s ease-out;
}

form button:hover{
    transition: 0.4s ease-out;
    cursor: pointer;
    background: #48E5C2;
    border: #48E5C2;
}

.success {
    width: 350px;
    color: #28a745;
    border: 2px solid #28a745;
    height: 25px;
    background: #cdf2d5;
    border-radius: 5px;
}

.failure {
    width: 350px;
    color: #dc3545;
    border: 2px solid #dc3545;
    height: 25px;
    background: #ffced2;
    border-radius: 5px;
}